*.py[cod]
pip-log.txt
pip-delete-this-directory.txt
.coverage
*flymake*
*#*
.*#*
*.#*
.*.#*
*.egg*
nohup.out
deps/
.dependencies/
tests/*.csv
tests/deleteme.json
local-install.log
*.log
*.log.*
supervisor.pid
supervisord.pid
.idea
dist/*.gz
docs/build
